---
layout: default
title: David Beck
---

<h1>Social Media</h1>

<div class="links_group">
  <a href="https://twitter.com/davbeck" taget="_blank" class="link">
    <span class="icon">{% include icons/twitter.svg %}</span>
    <span class="name">Twitter</span>
  </a>
  <a href="https://instagram.com/davbeck" taget="_blank" class="link">
    <span class="icon">{% include icons/instagram.svg %}</span>
    <span class="name">Instagram</span>
  </a>
  <a href="/blog" class="link">
    <span class="icon">{% include icons/blog.svg %}</span>
    <span class="name">Blog</span>
  </a>
</div>

<h1>Portfolio</h1>

<div class="links_group">
  <a href="https://itunes.apple.com/us/app/abundant-giving/id1437661053?mt=8" taget="_blank" class="app-link">
    <span class="icon"><img src="/images/apps/abundant/icon.svg" /></span>
    <span class="name">Abundant Giving</span>
  </a>
  <a href="https://itunes.apple.com/us/app/realm-shepherd-for-pastors/id1342781809?ls=1&mt=8" taget="_blank" class="app-link">
    <span class="icon"><img src="/images/apps/shepherd/icon.png" /></span>
    <span class="name">Realm Shepherd</span>
  </a>
  <a href="https://itunes.apple.com/us/app/connect-our-church-community/id1052274581?ls=1&mt=8" taget="_blank" class="app-link">
    <span class="icon"><img src="/images/apps/realm/icon.svg" /></span>
    <span class="name">Realm Connect</span>
  </a>
  <a href="https://itunes.apple.com/us/app/city-your-church-community/id668702462?mt=8" taget="_blank" class="app-link">
    <span class="icon"><img src="/images/apps/thecity/icon.svg" /></span>
    <span class="name">The City</span>
  </a>
  <a href="https://github.com/davbeck" taget="_blank" class="link">
    <span class="icon">{% include icons/github.svg %}</span>
    <span class="name">GitHub</span>
  </a>
  <a href="https://stackoverflow.com/users/198514/david-beck" taget="_blank" class="link">
    <span class="icon">{% include icons/stack-overflow.svg %}</span>
    <span class="name">StackOverflow</span>
  </a>
</div>
