---
---

@import url(//fonts.googleapis.com/css?family=Josefin+Sans:300,600,300italic,600italic|Lobster);

body {
  margin: 0px;
  padding: 0px;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;

  tab-size: 4;
}

main p {
  font-size: 20px;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: block;
}

a.content,
a.content:hover,
a.content:active,
a.content:visited{
  text-decoration: none;
  color: white;
}

.content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

header {
  background: #ab0015;
  color: white;
  border-bottom: solid 5px #880010;
  font-size: 2em;
}

header h1 {
  margin-top: 0.5em;
  margin-bottom: 0px;
}

header p {
  margin: 0px;
}

.profile_pic {
  border-radius: 50%;
  margin-bottom: -50px;
  margin-left: -50px;
  border: solid 5px #880010;
  float: left;
}

@media screen and (max-width: 600px) {
  .profile_pic {
    margin-bottom: 0px;
  }

  header p {
    clear: both;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgba(82, 0, 10, 0.3);
}

a:visited {
  color: black;
}

a:hover {
  color: #ab0015;
}

a:active {
  color: #880010;
}

.edit {
  color: black;
  float: right;
  font-size: 1.5em;
  text-decoration: none;
  display: inline-block;
  border: solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
}

img.app-store {
  float: right;
  display: block !important;
  margin: auto;
}

@media screen and (max-width: 600px) {
  img.app-store {
    float: left;
    display: block !important;
    margin: auto;
  }
}


label {
  display: block;
}

input[type="text"] {
  font-size: 2em;
  line-height: 1.5em;
  border: solid 1px gray;
  border-radius: 5px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  img.screenshot {
    float: none !important;
    display: block !important;
    margin: auto;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}

.links_group {
  margin-right: -96px;
  font-size: 0px;

  .link, .app-link {
    display: inline-block;
    width: 128px;
    text-align: center;
    margin-right: 96px;
    margin-bottom: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    vertical-align: top;

    &:hover {
      color: #ab0015;
    }

    &:active {
      color: #880010;
    }
  }

  .link {
    .icon svg * {
      fill: black;
    }

    &:hover {
      .icon svg * {
        fill: #ab0015;
      }
    }

    &:active {
      .icon svg * {
        fill: #880010;
      }
    }
  }
}

blockquote {
	border-left: solid 5px lightgray;
	margin-left: 25px;
	padding-left: 25px;
}

.blog-date {
	font-weight: bold;
	font-size: 1.2em;
	color: darkgray;
}

.blog-article img {
  margin: auto;
  display: block;
  width: 80%;
}

.side-note {
	display: block;
	margin-left: 50px;
	padding: 10px;
	background: rgba(128, 0, 0, 0.05);
  border: 3px solid rgba(80, 0, 0, 0.3);
  border-left: 0;
  border-right: 0;
	color: rgba(0,0,0,0.6);
}

.footer {
  font-size: 10;
  text-align: right;
}



// https://github.com/aahan/pygments-github-style/blob/master/jekyll-github.css
.highlight pre { overflow-x: scroll; font-size: 17px; }
.highlight pre, pre, .highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.highlight .c { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }
